<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Golden Sneaker</title>

	{% load static %}
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
	<div class="main-content">
		<div class="card">
			<div class="card-top">
				<img src="{% static 'images/nike.png' %}" alt="nike" class="card-top-logo">
				<div class="card-top-title">Our Products</div>
			</div>
			<div class="card-body">
				<!-- loading items -->
				<div class="shop-item">
					<div class="shop-item-image" style="background-color: #e1e7ed;">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/air-zoom-pegasus-36-mens-running-shoe-wide-D24Mcz-removebg-preview.png" alt="Nike Air Zoom Pegasus 36">
					</div>
					<div class="shop-item-name">Nike Air Zoom Pegasus 36</div>
					<div class="shop-item-description">The iconic Nike Air Zoom Pegasus 36 offers more cooling and mesh that targets breathability across high-heat areas. A slimmer heel collar and tongue reduce bulk, while exposed cables give you a snug fit at higher speeds.</div>
					<div class="shop-item-bottom">
						<div class="shop-item-price">
							$108.97
						</div>
						<div class="shop-item-button">
							<p>ADD TO CART</p>
						</div>
					</div>
				</div>
				<div class="shop-item">
					<div class="shop-item-image" style="background-color: #4D317F;">
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/air-zoom-pegasus-36-shield-mens-running-shoe-24FBGb__1_-removebg-preview.png" alt="Nike Air Zoom Pegasus 36 Shield">
					</div>
					<div class="shop-item-name">Nike Air Zoom Pegasus 36 Shield</div>
					<div class="shop-item-description">The Nike Air Zoom Pegasus 36 Shield gets updated to conquer wet routes. A water-repellent upper combines with an outsole that helps create grip on wet surfaces, letting you run in confidence despite the weather.</div>
					<div class="shop-item-bottom">
						<div class="shop-item-price">
							$89.97
						</div>
						<div class="shop-item-button">
							<p>ADD TO CART</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-top">
				<img src="{% static 'images/nike.png' %}" alt="nike" class="card-top-logo">
				<div class="card-top-title">
					Your Cart
					<span class="card-title-amount">$108.97</span>
				</div>
			</div>
			<div class="card-body">
				<div class="card-empty">
					<p class="card-empty-text">Your cart is empty.</p>
				</div>
				<div>
					<div>
						<div class="cart-item">
							<div class="cart-item-left">
								<div class="cart-item-image" style="background-color: #e1e7ed;">
									<div class="cart-item-block">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/air-zoom-pegasus-36-mens-running-shoe-wide-D24Mcz-removebg-preview.png" alt="Nike Air Zoom Pegasus 36">
									</div>
								</div>
							</div>
							<div class="cart-item-right">
								<div class="cart-item-name">Nike Air Zoom Pegasus 36</div>
								<div class="cart-item-price">$108.97</div>
								<div class="cart-item-action">
									<div class="cart-item-count">
										<div class="cart-item-count-button">-</div>
										<div class="cart-item-count-number">1</div>
										<div class="cart-item-count-button">+</div>
									</div>
									<div class="cart-item-remove">
										<img src="{% static 'images/trash.png' %}">
									</div>
								</div>
							</div>
						</div>
						<div class="cart-item">
							<div class="cart-item-left">
								<div class="cart-item-image" style="background-color: #4D317F;">
									<div class="cart-item-block">
										<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/air-zoom-pegasus-36-shield-mens-running-shoe-24FBGb__1_-removebg-preview.png" alt="Nike Air Zoom Pegasus 36 Shield">
									</div>
								</div>
							</div>
							<div class="cart-item-right">
								<div class="cart-item-name">Nike Air Zoom Pegasus 36 Shield</div>
								<div class="cart-item-price">$89.97</div>
								<div class="cart-item-action">
									<div class="cart-item-count">
										<div class="cart-item-count-button">-</div>
										<div class="cart-item-count-number">1</div>
										<div class="cart-item-count-button">+</div>
									</div>
									<div class="cart-item-remove">
										<img src="{% static 'images/trash.png' %}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>