<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Golden Sneaker</title>

	{% load static %}
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
	<div class="main-content">
		<div class="card">
			<div class="card-top">
				<img src="{% static 'images/nike.png' %}" alt="nike" class="card-top-logo">
				<div class="card-top-title">Our Products</div>
				<div class="card-body">
					<!-- loading items -->

				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-top">
				<img src="{% static 'images/nike.png' %}" alt="nike" class="card-top-logo">
				<div class="card-top-title">
					Your Cart
					<span class="card-title-amount">$108.97</span>
				</div>
				<div class="card-body"></div>
		</div>
	</div>
</body>
</html>