{% extends 'cart/base.html' %}
{% load static %}
{% block content %}

<script>
	var trash_can = "{% static 'images/trash.png'%}"
</script>

<div class="main-content">
	<div id="shop">
		<div class="card">
			<div class="card-top">
				<img src="{% static 'images/nike.png' %}" alt="nike" class="card-top-logo">
				<div class="card-top-title">Our Products</div>
			</div>
			<div class="card-body">
				<!-- loading items -->
				{% include 'cart/shop.html' %}
			</div>
		</div>
	</div>

	<div id="cart">
		<div class="card">
			<div class="card-top">
				<img src="{% static 'images/nike.png' %}" alt="nike" class="card-top-logo">
				<div class="card-top-title">
					Your Cart
					<span class="card-title-amount">${{cart.total_price}}</span>
				</div>
			</div>
			<div class="card-body">
				{% include 'cart/cart.html' %}
			</div>
		</div>
	</div>
</div>

{% endblock %}